{{ define "__subject" -}}
【{{ .Signature }}】
{{- $sev := .HighestSeverity -}}
{{- $nFiring := .Alerts.Firing | len -}}
{{- $nResolved := .Alerts.Resolved | len -}}
{{- if eq $sev "ok" }} OK
{{- else if eq $sev "info" }} INFO
{{- else if eq $sev "warning" }} WARNING
{{- else if eq $sev "critical" }} CRITICAL
{{- end }}
{{- ` • ` }}
{{- template "__group_alertname" . }}
{{- ` • ` }}
{{- if gt $nFiring 0 }}Firing:{{ $nFiring }}{{ end }}
{{- if and (gt $nFiring 0) (gt $nResolved 0) }}/{{ end }}
{{- if gt $nResolved 0 }}Resolved:{{ $nResolved }}{{ end }}
{{ end }}

{{ define "__group_alertname" -}}
{{- if .CommonLabels.alertname_cn }}{{ .CommonLabels.alertname_cn }}
{{- else if .CommonLabels.alertname_custom }}{{ .CommonLabels.alertname_custom }}
{{- else if .CommonAnnotations.alertname }}{{ .CommonAnnotations.alertname }}
{{- else }}{{ .GroupLabels.alertname }}
{{- end -}}
{{- end }}

{{ define "__alert_alertname" -}}
{{- if .Labels.alertname_cn }}{{ .Labels.alertname_cn }}
{{- else if .Labels.alertname_custom }}{{ .Labels.alertname_custom }}
{{- else if .Annotations.alertname }}{{ .Annotations.alertname }}
{{- else }}{{ .Labels.alertname }}
{{- end -}}
{{- end }}

{{ define "__alertinstance" -}}
{{- if .Labels.alertinstance }}{{ .Labels.alertinstance }}
{{- else if .Labels.instance }}{{ .Labels.instance }}
{{- else if .Labels.node }}{{ .Labels.node }}
{{- else if .Labels.nodename }}{{ .Labels.nodename }}
{{- else if .Labels.host }}{{ .Labels.host }}
{{- else if .Labels.hostname }}{{ .Labels.hostname }}
{{- else if .Labels.ip }}{{ .Labels.ip }}
{{- end -}}
{{- end }}

{{ define "__severity_tag" -}}
{{- if eq . "ok" -}}
<font color="#722ED1">**OK**</font>
{{- else if eq . "info" -}}
<font color="#52C41A">**INFO**</font>
{{- else if eq . "warning" -}}
<font color="#FAAD14">**WARNING**</font>
{{- else if eq . "critical" -}}
<font color="#FF4D4F">**CRITICAL**</font>
{{- end -}}
{{- end }}

{{ define "__alert_status" -}}
{{- if eq .Status "firing" -}}
🚨 <font color="#CF1322">**{{ .Status | toUpper }}**</font>
{{- else -}}
✅ <font color="#52C41A">**{{ .Status | toUpper }}**</font>
{{- end -}}
{{- end }}

{{ define "__alert_description" -}}
{{- if .Annotations.description_en }}{{ .Annotations.description_en }}
{{- else }}{{ .Annotations.description }}
{{- end -}}
{{- end }}

{{ define "__firing_title" -}}
##### <font color="#FF4D4F">**🚨 Firing Alerts [{{ len . }}]**</font>
{{- end }}

{{ define "__resolved_title" -}}
##### <font color="#52C41A">**✅ Resolved Alerts [{{ len . }}]**</font>
{{- end }}

{{ define "__alert_list" -}}
{{- $timeFormat := "2006-01-02 15:04:05 -07" -}}
{{- range $i, $_ := . -}}
{{- if gt $i 0 -}}
{{ print "\n\n---\n\n" -}}
{{- end -}}
> **Alert Instance**: <font color="#722ED1">{{ template "__alertinstance" . }}</font>
>
> **Alert Name**: <font color="#1677FF">{{ template "__alert_alertname" . }}</font>
>
> **Alert Level**: {{ template "__severity_tag" .Labels.severity }}
>
{{- if .Labels.region }}
> **Region**: <font color="#8C8C8C">{{ .Labels.region }}</font>
>
{{- end }}
{{- if .Labels.zone }}
> **Zone**: <font color="#8C8C8C">{{ .Labels.zone }}</font>
>
{{- end }}
{{- if .Labels.product }}
> **Product**: <font color="#8C8C8C">{{ .Labels.product }}</font>
>
{{- end }}
{{- if .Labels.component }}
> **Component**: <font color="#8C8C8C">{{ .Labels.component }}</font>
>
{{- end }}
> **Alert Status**: {{ template "__alert_status" . }}
>
> **Start At**: <font color="#8C8C8C">{{ .StartsAt.Format $timeFormat }}</font>
>
> **End At**: <font color="#8C8C8C">{{ if .EndsAt.After .StartsAt }}{{ .EndsAt.Format $timeFormat }}{{ else }}Not End{{ end }}</font>
>
{{- if eq .Status "firing" }}
> **Description**: {{ template "__alert_description" . }}
>
{{- end -}}
{{- end -}}
{{- end }}

{{ define "__alert_summary" -}}
{{- range $i, $_ := . -}}
{{- if $i -}}
{{ print "\n" -}}
{{- end -}}
- {{ template "__alertinstance" . -}}
{{- end -}}
{{- end }}

{{ define "prom.title" -}}
{{ template "__subject" . -}}
{{- end }}

{{ define "prom.markdown" -}}
{{- $firing := .Alerts.Firing -}}
{{- $resolved := .Alerts.Resolved -}}
<font color="#8C8C8C">{{ .MessageAt.Format "2006-01-02 15:04:05 -07" }}</font>

#### **Summary**
{{- if gt (len $firing) 0 -}}
{{- print "\n\n" -}}
{{ template "__firing_title" $firing }}
{{- print "\n\n" -}}
{{ template "__alert_summary" $firing -}}
{{- end -}}
{{- if gt (len $resolved) 0 -}}
{{- print "\n\n" -}}
{{ template "__resolved_title" $resolved }}
{{- print "\n\n" -}}
{{ template "__alert_summary" $resolved -}}
{{- end }}

#### **Detail**
{{- if gt (len $firing) 0 -}}
{{- print "\n\n" -}}
{{ template "__firing_title" $firing }}
{{- print "\n\n" -}}
{{ template "__alert_list" $firing -}}
{{- end -}}
{{- if gt (len $resolved) 0 -}}
{{- print "\n\n" -}}
{{ template "__resolved_title" $resolved }}
{{- print "\n\n" -}}
{{ template "__alert_list" $resolved -}}
{{- end }}
{{ end }}

{{ define "prom.text" }}
{{ template "prom.markdown" . }}
{{ end }}
