{{ define "__subject" -}}
【{{ .Signature }}】
{{- $sev := .HighestSeverity -}}
{{- $nFiring := .Alerts.Firing | len -}}
{{- $nResolved := .Alerts.Resolved | len -}}
{{- if eq $sev "ok" }} OK
{{- else if eq $sev "info" }} INFO
{{- else if eq $sev "warning" }} WARNING
{{- else if eq $sev "critical" }} CRITICAL
{{- end }}
{{- ` • ` }}
{{- template "__group_alertname" . }}
{{- ` • ` }}
{{- if gt $nFiring 0 }}Firing:{{ $nFiring }}{{ end }}
{{- if and (gt $nFiring 0) (gt $nResolved 0) }}/{{ end }}
{{- if gt $nResolved 0 }}Resolved:{{ $nResolved }}{{ end }}
{{ end }}

{{ define "__group_alertname" -}}
{{- if .CommonLabels.alertname_cn }}{{ .CommonLabels.alertname_cn }}
{{- else if .CommonLabels.alertname_custom }}{{ .CommonLabels.alertname_custom }}
{{- else if .CommonAnnotations.alertname }}{{ .CommonAnnotations.alertname }}
{{- else }}{{ .GroupLabels.alertname }}
{{- end -}}
{{- end }}

{{ define "__alert_alertname" -}}
{{- if .Labels.alertname_cn }}{{ .Labels.alertname_cn }}
{{- else if .Labels.alertname_custom }}{{ .Labels.alertname_custom }}
{{- else if .Annotations.alertname }}{{ .Annotations.alertname }}
{{- else }}{{ .Labels.alertname }}
{{- end -}}
{{- end }}

{{ define "__alertinstance" -}}
{{- if .Labels.alertinstance }}{{ .Labels.alertinstance }}
{{- else if .Labels.instance }}{{ .Labels.instance }}
{{- else if .Labels.node }}{{ .Labels.node }}
{{- else if .Labels.nodename }}{{ .Labels.nodename }}
{{- else if .Labels.host }}{{ .Labels.host }}
{{- else if .Labels.hostname }}{{ .Labels.hostname }}
{{- else if .Labels.ip }}{{ .Labels.ip }}
{{- end -}}
{{- end }}

{{ define "__severity_tag" -}}
{{- if eq . "ok" -}}
<text_tag color='purple'>OK</text_tag>
{{- else if eq . "info" -}}
<text_tag color='lime'>INFO</text_tag>
{{- else if eq . "warning" -}}
<text_tag color='yellow'>WARNING</text_tag>
{{- else if eq . "critical" -}}
<text_tag color='red'>CRITICAL</text_tag>
{{- end -}}
{{- end }}

{{ define "__alert_status" -}}
{{- if eq .Status "firing" -}}
🚨 <text_tag color='carmine'>{{ .Status | toUpper }}</text_tag>
{{- else -}}
✅ <text_tag color='green'>{{ .Status | toUpper }}</text_tag>
{{- end -}}
{{- end }}

{{ define "__alert_description" -}}
{{- if .Annotations.description_en }}{{ .Annotations.description_en }}
{{- else }}{{ .Annotations.description }}
{{- end -}}
{{- end }}

{{ define "__firing_title" -}}
<font color='red'>🚨 Firing [{{ len . }}] alerts</font>
{{- end }}

{{ define "__resolved_title" -}}
<font color='green'>✅ Resolved [{{ len . }}] alerts</font>
{{- end }}

{{ define "__alert_list" }}
{{- $timeFormat := "2006-01-02 15:04:05 MST" -}}
{{- range $i, $_ := . -}}
{{- if $i -}}
{{- print "\n\n" -}}
{{- end -}}
- **Instance**: <text_tag color='purple'>{{ template "__alertinstance" . }}</text_tag>
**Alert Name**: <text_tag color='blue'>{{ template "__alert_alertname" . }}</text_tag>
**Alert Level**: {{ template "__severity_tag" .Labels.severity }}
{{- if .Labels.region }}
**Region**: <text_tag color='neutral'>{{ .Labels.region }}</text_tag>
{{- end }}
{{- if .Labels.zone }}
**Zone**: <text_tag color='neutral'>{{ .Labels.zone }}</text_tag>
{{- end }}
{{- if .Labels.product }}
**Product**: <text_tag color='neutral'>{{ .Labels.product }}</text_tag>
{{- end }}
{{- if .Labels.component }}
**Component**: <text_tag color='neutral'>{{ .Labels.component }}</text_tag>
{{- end }}
**Alert Status**: {{ template "__alert_status" . }}
**Start At**: <text_tag color='neutral'>{{ .StartsAt.Format $timeFormat }}</text_tag>
**End At**: <text_tag color='neutral'>{{ if .EndsAt.After .StartsAt }}{{ .EndsAt.Format $timeFormat }}{{ else }}Not End{{ end }}</text_tag>
{{- if eq .Status "firing" }}
**Description**: {{ template "__alert_description" . }}
{{- end -}}
{{- print "\n" -}}
{{- end }}
{{- end }}

{{ define "__alert_summary" }}
{{- range . -}}
- <text_tag color='{{ if eq .Status "firing" }}red{{ else }}green{{ end }}'>{{ template "__alertinstance" . }}</text_tag>
{{ end }}
{{- end }}

{{ define "prom.title" -}}
{{ template "__subject" . -}}
{{- end }}

{{ define "prom.markdown" -}}
{{- $firing := .Alerts.Firing -}}
{{- $resolved := .Alerts.Resolved -}}
<font color='grey'>{{ .MessageAt.Format "2006-01-02 15:04:05 MST" }}</font>
{{- print "\n\n ---\n" -}}
**Summary**
{{- if gt (len $firing) 0 -}}
{{- print "\n\n" -}}
{{ template "__firing_title" $firing }}
{{- print "\n\n\n" -}}
{{ template "__alert_summary" $firing -}}
{{- end -}}
{{- if gt (len $resolved) 0 -}}
{{- print "\n\n" -}}
{{ template "__resolved_title" $resolved }}
{{- print "\n\n\n" -}}
{{ template "__alert_summary" $resolved -}}
{{- end -}}
{{- print "\n\n ---\n" -}}
**Detail**
{{- if gt (len $firing) 0 -}}
{{- print "\n\n" -}}
{{ template "__firing_title" $firing }}
{{- print "\n\n\n" -}}
{{ template "__alert_list" $firing -}}
{{- end -}}
{{- if gt (len $resolved) 0 -}}
{{- print "\n\n" -}}
{{ template "__resolved_title" $resolved }}
{{- print "\n\n\n" -}}
{{ template "__alert_list" $resolved -}}
{{- end -}}
{{- end }}

{{ define "prom.text" }}
{{ template "prom.markdown" . }}
{{ end }}
