{{ define "__subject" -}}
【{{ .Signature }}】
{{- $sev := .HighestSeverity -}}
{{- $nFiring := .Alerts.Firing | len -}}
{{- $nResolved := .Alerts.Resolved | len -}}
{{- if eq $sev "ok" }} OK
{{- else if eq $sev "info" }} INFO
{{- else if eq $sev "warning" }} WARNING
{{- else if eq $sev "critical" }} CRITICAL
{{- end }}
{{- ` • ` }}
{{- template "__group_alertname" . }}
{{- ` • ` }}
{{- if gt $nFiring 0 }}Firing:{{ $nFiring }}{{ end }}
{{- if and (gt $nFiring 0) (gt $nResolved 0) }}/{{ end }}
{{- if gt $nResolved 0 }}Resolved:{{ $nResolved }}{{ end }}
{{ end }}

{{ define "__group_alertname" -}}
{{- if .CommonLabels.alertname_cn }}{{ .CommonLabels.alertname_cn }}
{{- else if .CommonLabels.alertname_custom }}{{ .CommonLabels.alertname_custom }}
{{- else if .CommonAnnotations.alertname }}{{ .CommonAnnotations.alertname }}
{{- else }}{{ .GroupLabels.alertname }}
{{- end -}}
{{- end }}

{{ define "__alert_alertname" -}}
{{- if .Labels.alertname_cn }}{{ .Labels.alertname_cn }}
{{- else if .Labels.alertname_custom }}{{ .Labels.alertname_custom }}
{{- else if .Annotations.alertname }}{{ .Annotations.alertname }}
{{- else }}{{ .Labels.alertname }}
{{- end -}}
{{- end }}

{{ define "__alertinstance" -}}
{{- if .Labels.alertinstance }}{{ .Labels.alertinstance }}
{{- else if .Labels.instance }}{{ .Labels.instance }}
{{- else if .Labels.node }}{{ .Labels.node }}
{{- else if .Labels.nodename }}{{ .Labels.nodename }}
{{- else if .Labels.host }}{{ .Labels.host }}
{{- else if .Labels.hostname }}{{ .Labels.hostname }}
{{- else if .Labels.ip }}{{ .Labels.ip }}
{{- end -}}
{{- end }}

{{ define "__severity_tag" -}}
{{- if eq . "ok" -}}
<font color="comment">OK</font>
{{- else if eq . "info" -}}
<font color="info">INFO</font>
{{- else if eq . "warning" -}}
<font color="warning">WARNING</font>
{{- else if eq . "critical" -}}
<font color="warning">CRITICAL</font>
{{- end -}}
{{- end }}

{{ define "__alert_status" -}}
{{- if eq .Status "firing" -}}
🚨 <font color="warning">{{ .Status | toUpper }}</font>
{{- else -}}
✅ <font color="info">{{ .Status | toUpper }}</font>
{{- end -}}
{{- end }}

{{ define "__alert_description" -}}
{{- if .Annotations.description_en }}{{ .Annotations.description_en }}
{{- else }}{{ .Annotations.description }}
{{- end -}}
{{- end }}

{{ define "__firing_title" -}}
##### 🚨 <font color="warning">Firing Alerts [{{ len . }}]</font>
{{- end }}

{{ define "__resolved_title" -}}
##### ✅ <font color="info">Resolved Alerts [{{ len . }}]</font>
{{- end }}

{{ define "__alert_list" -}}
{{- $timeFormat := "2006-01-02 15:04:05 -07" -}}
{{- range $i, $_ := . -}}
{{- if $i -}}
{{ print "\n\n\n" -}}
{{- end -}}
> <font color="comment">Alert Instance</font>: `{{ template "__alertinstance" . }}`
> <font color="comment">Alert Name</font>: {{ template "__alert_alertname" . }}
> <font color="comment">Alert Level</font>: {{ template "__severity_tag" .Labels.severity }}
{{- if .Labels.region }}
> <font color="comment">Region</font>: {{ .Labels.region }}
{{- end }}
{{- if .Labels.zone }}
> <font color="comment">Zone</font>: {{ .Labels.zone }}
{{- end }}
{{- if .Labels.product }}
> <font color="comment">Product</font>: {{ .Labels.product }}
{{- end }}
{{- if .Labels.component }}
> <font color="comment">Component</font>: {{ .Labels.component }}
{{- end }}
> <font color="comment">Alert Status</font>: {{ template "__alert_status" . }}
> <font color="comment">Start At</font>: {{ .StartsAt.Format $timeFormat }}
> <font color="comment">End At</font>: {{ if .EndsAt.After .StartsAt }}{{ .EndsAt.Format $timeFormat }}{{ else }}Not End{{ end }}
{{- if eq .Status "firing" }}
> <font color="comment">Description</font>: {{ template "__alert_description" . }}
{{- end -}}
{{- end -}}
{{- end }}

{{ define "__alert_summary" -}}
{{- range $i, $_ := . -}}
{{- if $i -}}
{{ print "\n" -}}
{{- end -}}
• <font color="{{ if eq .Status "firing" }}warning{{ else }}info{{ end }}">{{ template "__alertinstance" . }}</font>
{{- end -}}
{{- end }}

{{ define "prom.title" -}}
{{ template "__subject" . -}}
{{- end }}

{{ define "prom.markdown" -}}
{{- $firing := .Alerts.Firing -}}
{{- $resolved := .Alerts.Resolved -}}
{{- print "\n" -}}
<font color="comment">{{ .MessageAt.Format "2006-01-02 15:04:05 -07" }}</font>
{{- print "\n\n\n" -}}
#### Summary
{{- if gt (len $firing) 0 -}}
{{- print "\n\n\n" -}}
{{ template "__firing_title" $firing }}
{{- print "\n\n\n" -}}
{{ template "__alert_summary" $firing -}}
{{- end -}}
{{- if gt (len $resolved) 0 -}}
{{- print "\n\n\n" -}}
{{ template "__resolved_title" $resolved }}
{{- print "\n\n\n" -}}
{{ template "__alert_summary" $resolved -}}
{{- end -}}
{{- print "\n\n\n" -}}
#### Detail
{{- if gt (len $firing) 0 -}}
{{- print "\n\n\n" -}}
{{ template "__firing_title" $firing }}
{{- print "\n\n\n" -}}
{{ template "__alert_list" $firing -}}
{{- end -}}
{{- if gt (len $resolved) 0 -}}
{{- print "\n\n\n" -}}
{{ template "__resolved_title" $resolved }}
{{- print "\n\n\n" -}}
{{ template "__alert_list" $resolved -}}
{{- end }}
{{ end }}

{{ define "prom.text" }}
{{ template "prom.markdown" . }}
{{ end }}
