{{ define "__subject" -}}
【{{ .Signature }}】

{{- if eq (index .Alerts 0).Labels.severity "ok" }} OK{{ end }}
{{- if eq (index .Alerts 0).Labels.severity "info" }} INFO{{ end }}
{{- if eq (index .Alerts 0).Labels.severity "warning" }} WARNING{{ end }}
{{- if eq (index .Alerts 0).Labels.severity "critical" }} CRITICAL{{ end }}

{{- ` • ` }}

{{- if .CommonLabels.alertname_cn }}{{ .CommonLabels.alertname_cn }}{{ else if .CommonLabels.alertname_custom }}{{ .CommonLabels.alertname_custom }}{{ else if .CommonAnnotations.alertname  }}{{ .CommonAnnotations.alertname }}{{ else }}{{ .GroupLabels.alertname }}{{ end }}

{{- ` • ` }}

{{- if gt (.Alerts.Firing|len) 0 }}告警中:{{ .Alerts.Firing|len }}{{ end }}
{{- if and (gt (.Alerts.Firing|len) 0) (gt (.Alerts.Resolved|len) 0) }}/{{ end }}
{{- if gt (.Alerts.Resolved|len) 0 }}已恢复:{{ .Alerts.Resolved|len }}{{ end }}

{{ end }}


{{ define "__externalURL" -}}
{{ .ExternalURL }}/#/alerts?receiver={{ .Receiver }}
{{- end }}

{{ define "__alertinstance" -}}
{{- if ne .Labels.alertinstance nil -}}{{ .Labels.alertinstance }}
{{- else if ne .Labels.instance nil -}}{{ .Labels.instance }}
{{- else if ne .Labels.node nil -}}{{ .Labels.node }}
{{- else if ne .Labels.nodename nil -}}{{ .Labels.nodename }}
{{- else if ne .Labels.host nil -}}{{ .Labels.host }}
{{- else if ne .Labels.hostname nil -}}{{ .Labels.hostname }}
{{- else if ne .Labels.ip nil -}}{{ .Labels.ip }}
{{- end -}}
{{- end }}

{{ define "__alert_list" }}
{{ range . }}
⁣
<font color="comment"></font>
> <font color="comment"> 告警名称 </font>: {{ if .Labels.alertname_cn  }}{{ .Labels.alertname_cn }}{{ else if .Labels.alertname_custom  }}{{ .Labels.alertname_custom }}{{ else if .Annotations.alertname  }}{{ .Annotations.alertname }}{{ else }}{{ .Labels.alertname }}{{ end }}
<font color="comment"> 告警级别 </font>:{{ ` ` }}
{{- if eq .Labels.severity "ok" }}OK{{ end -}}
{{- if eq .Labels.severity "info" }}INFO{{ end -}}
{{- if eq .Labels.severity "warning" }}WARNING{{ end -}}
{{- if eq .Labels.severity "critical" }}CRITICAL{{ end }}
<font color="comment"> 告警实例 </font>: `{{ template "__alertinstance" . }}`
{{- if .Labels.region }}
<font color="comment"> 地域 </font>: {{ .Labels.region }}
{{- end }}
{{- if .Labels.zone }}
<font color="comment"> 可用区 </font>: {{ .Labels.zone }}
{{- end }}
{{- if .Labels.product }}
<font color="comment"> 产品 </font>: {{ .Labels.product }}
{{- end }}
{{- if .Labels.component  }}
<font color="comment"> 组件 </font>: {{ .Labels.component }}
{{- end }}
<font color="comment"> 告警状态 </font>: {{ if eq .Status "firing" }}🚨{{ else }}✅{{ end }} <font color="{{ if eq .Status "firing" }}warning{{ else }}info{{ end }}">{{ .Status | toUpper }}</font>
<font color="comment"> 开始时间 </font>: {{ .StartsAt.Format "2006-01-02T15:04:05Z07:00" }}
<font color="comment"> 结束时间 </font>: {{ if .EndsAt.After .StartsAt }}{{ .EndsAt.Format "2006-01-02T15:04:05Z07:00" }}{{ else }}Not End{{ end }}
{{- if eq .Status "firing" }}
<font color="comment"> 告警描述 </font>: {{ if .Annotations.description_cn }}{{ .Annotations.description_cn }}{{ else }}{{ .Annotations.description }}{{ end }}
{{- end }}

{{ end }}
{{ end }}

{{ define "__alert_summary" -}}
{{ range . }}
<font color="{{ if eq .Status "firing" }}warning{{ else }}info{{ end }}">{{ template "__alertinstance" . }}</font>
{{- end }}
{{- end }}

{{ define "prom.title" -}}
{{ template "__subject" . }}
{{ end }}


{{ define "prom.markdown" }}
<font color="comment">{{ .MessageAt.Format "2006-01-02T15:04:05Z07:00" }}</font>
### 告警摘要

{{ if gt (.Alerts.Firing|len ) 0 }}
#### <font color="warning">🚨 触发中告警 [{{ .Alerts.Firing|len }}]</font>
{{ template "__alert_summary" .Alerts.Firing }}
{{ end }}


{{ if gt (.Alerts.Resolved|len) 0 }}
####  <font color="info">✅ 已恢复告警 [{{ .Alerts.Resolved|len }}]</font>
{{ template "__alert_summary" .Alerts.Resolved }}
{{ end }}

### 告警详请

{{ if gt (.Alerts.Firing|len ) 0 }}
#### <font color="warning">🚨 触发中告警 [{{ .Alerts.Firing|len }}]</font>
{{ template "__alert_list" .Alerts.Firing }}
{{ end }}


{{ if gt (.Alerts.Resolved|len) 0 }}
#####  <font color="info">✅ 已恢复告警 [{{ .Alerts.Resolved|len }}]</font>
{{ template "__alert_list" .Alerts.Resolved }}
{{ end }}
{{ end }}

{{ define "prom.text" }}
{{ template "prom.markdown" . }}
{{ end }}
