{{ define "__subject" -}}
【{{ .Signature }}】

{{- if eq (index .Alerts 0).Labels.severity "ok" }} OK{{ end }}
{{- if eq (index .Alerts 0).Labels.severity "info" }} INFO{{ end }}
{{- if eq (index .Alerts 0).Labels.severity "warning" }} WARNING{{ end }}
{{- if eq (index .Alerts 0).Labels.severity "critical" }} CRITICAL{{ end }}

{{- ` • ` }}

{{- if .CommonLabels.alertname_custom }}{{ .CommonLabels.alertname_custom }}{{ else if .CommonAnnotations.alertname }}{{ .CommonAnnotations.alertname }}{{ else }}{{ .GroupLabels.alertname }}{{ end }}

{{- ` • ` }}

{{- if gt (.Alerts.Firing|len) 0 }}告警中:{{ .Alerts.Firing|len }}{{ end }}
{{- if and (gt (.Alerts.Firing|len) 0) (gt (.Alerts.Resolved|len) 0) }}/{{ end }}
{{- if gt (.Alerts.Resolved|len) 0 }}已恢复:{{ .Alerts.Resolved |len }}{{ end }}

{{ end }}


{{ define "__externalURL" -}}
{{ .ExternalURL }}/#/alerts?receiver={{ .Receiver }}
{{- end }}


{{ define "__alert_list" }}
{{ range . }}
> <font color="comment"> Alert Name </font>: {{ if .Labels.alertname_custom  }}{{ .Labels.alertname_custom }}{{ else if .Annotations.alertname  }}{{ .Annotations.alertname }}{{ else }}{{ .Labels.alertname }}{{ end }}
>
> <font color="comment"> Severity </font>:{{ ` ` }}
{{- if eq .Labels.severity "ok" }}OK{{ end -}}
{{- if eq .Labels.severity "info" }}INFO{{ end -}}
{{- if eq .Labels.severity "warning" }}WARNING{{ end -}}
{{- if eq .Labels.severity "critical" }}CRITICAL{{ end }}
>
> <font color="comment"> Instance </font>: {{ .Labels.instance }}
>
{{- if .Labels.region }}
> <font color="comment"> Region </font>: {{ .Labels.region }}
>
{{- end }}
{{- if .Labels.zone }}
> <font color="comment"> Zone </font>: {{ .Labels.zone }}
>
{{- end }}
{{- if .Labels.product }}
> <font color="comment"> Product </font>: {{ .Labels.product }}
>
{{- end }}
{{- if .Labels.component  }}
> <font color="comment"> Component </font>: {{ .Labels.component }}
>
{{- end }}
> <font color="comment"> Status </font>: <font color="{{ if eq .Status "firing" }}warning{{ else }}info{{ end }}">{{ .Status | toUpper }}</font>
>
> <font color="comment"> Starts At </font>: {{ .StartsAt.Format "2006-01-02 15:04:05" }}
>
> <font color="comment"> Ends At </font>: {{ if .EndsAt.After .StartsAt }}{{ .EndsAt.Format "2006-01-02 15:04:05" }}{{ else }}Not End{{ end }}
>
> <font color="comment"> Description </font>: {{ .Annotations.description }}

{{ end }}
{{ end }}


{{ define "prom.title" -}}
{{ template "__subject" . }}
{{ end }}


{{ define "prom.markdown" }}
### {{ template "__subject" . }}

{{ .MessageAt.Format "2006-01-02 15:04:05" }}

{{ if gt (.Alerts.Firing|len ) 0 }}
#### <font color="warning">☲ Firing {{ .Alerts.Firing|len }} alerts</font>
{{ template "__alert_list" .Alerts.Firing }}
{{ end }}

{{ if gt (.Alerts.Resolved|len) 0 }}
#### <font color="info">✓ Resolved {{ .Alerts.Resolved|len }} alerts</font>
{{ template "__alert_list" .Alerts.Resolved }}
{{ end }}

{{ end }}

{{ define "prom.text" }}
{{ template "prom.markdown" . }}
{{ end }}
